@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Pagrindinė juosta */
.toolbar {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #618b25;
    color: white;
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    .toolbar-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .logo {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: white;
        text-decoration: none;
        display: inline-block;
    }
    .logo:visited,
    .logo:hover,
    .logo:active {
        color: white;
        text-decoration: none;
    }
    .saved-routes-button {
        flex: 1;
        display: flex;
        justify-content: center;
        .saved-routes-link {
            background-color: #618b25;
            color: #f5e6d5;
            font-weight: 600;
            text-decoration: none;
            font-size: 14px;
            border-bottom: 2px solid #f5e6d5;
            transition: background-color 0.2s, color 0.2s, border-color 0.2s;
            &:hover {
                background-color: #618b25;
                color: #c9bbab;
                border-bottom: 2px solid #c9bbab;
            }
        }
    }
    .new-route-button {
        flex: 1;
        display: flex;
        justify-content: center;
        .new-route-link {
            background-color: #618b25;
            color: #f5e6d5;
            font-weight: 600;
            text-decoration: none;
            font-size: 14px;
            border-bottom: 2px solid #f5e6d5;
            transition: background-color 0.2s, color 0.2s, border-color 0.2s;
            &:hover {
                background-color: #618b25;
                color: #c9bbab;
                border-bottom: 2px solid #c9bbab;
            }
        }
    }
    .language-selector {
        font-family: sans-serif;
        position: relative;
        margin-right: 5px;
        button {
            background: none;
            border: none;
            color: white;
            font-weight: bold;
            cursor: pointer;
            font-size: 14px;
        }
        button:hover {
            color: #ccc;
        }
        .dropdown {
            position: absolute;
            font-size: 14px;
            top: 120%;
            right: -20px;
            background: white;
            color: black;
            border: 1px solid #ccc;
            border-radius: 4px;
            min-width: 100px;
            display: none;
            box-shadow: 0 2px 4px rgba(0,0,0,0.15);
            z-index: 2001;
            div {
                padding: 8px 10px;
                cursor: pointer;
                &:hover {
                    background: #eee;
                }
            }
            &.show {
                display: block;
            }
        }
    }
}
.toolbar-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}
.user-menu {
    display: flex;
    position: relative;
    align-items: center;
    gap: 20px;
    .user-button {
        font-family: 'Poppins', sans-serif;
        background: none;
        border: none;
        color: #f4f1ee;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
        margin: 0 10px 0 0;
    }
    .user-button:hover {
        color: #ccc;
    }
    .dropdown {
        position: absolute;
        right: 50px;
        top: 120%;
        background: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        min-width: 120px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.2);
        display: none;
        flex-direction: column;
        z-index: 2001;
        .dropdown-item {
            border-radius: 4px;
            padding: 8px;
            text-align: center;
            cursor: pointer;
            background: none;
            border: none;
            width: 100%;
            font-size: 14px;
            &:hover {
                background: #eee;
            }
        }
    }
    .dropdown.show {
        display: flex;
    }
}
.guest-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    .login-link {
        margin: 0 20px 0 0;
        color: #f4f1ee;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.2s;
        font-size: 14px;
    }
    .login-link:hover {
        color: #ccc;
    }
}
*, ::after, ::before {
    box-sizing: border-box;
}
/*--------------------------------------------------------*/

/* Responsive dizainui */
@media (max-width: 768px) {
    .toolbar {
        padding: 10px;
    }
    .toolbar .toolbar-content {
        flex-direction: row;
        align-items: flex-start;
    }
    .toolbar .logo {
        font-size: 14px;
        margin-bottom: 6px;
    }
    .language-selector {
        margin-right: 0;
    }
    .language-selector button {
        font-size: 12px;
    }
}
/*--------------------------------------------------------*/
